<%= content_for :title, @journey.category.capitalize %>

<h1 class="govuk-heading-xl"><%= @journey.category.capitalize %></h1>
<dl class="govuk-summary-list">
  <% @steps.each do |step| %>
    <% if step.question? %>
      <%= render "#{step.contentful_type}_answer", step: step, answer: step.answer %>
    <% end %>
  <% end %>
</dl>

<h1 class="govuk-heading-xl">Your specification</h1>

<%= link_to "Download (.docx)", journey_path(@journey, format: :docx), class: "govuk-button" %>
<%= link_to "Download (.odt)", journey_path(@journey, format: :odt), class: "govuk-button" %>
<%= link_to "Download (.pdf)", journey_path(@journey, format: :pdf), class: "govuk-button" %>

<%= @template.render(@answers).html_safe %>
